@import url("https://fonts.googleapis.com/css?family=Amaranth|Gabriela&display=swap");
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gabriela", serif;
}

p,
a {
  font-family: "Amaranth", sans-serif;
}

a {
  color: #ADC8D9;
  text-decoration: none;
}

a:visited {
  color: #4A7A8C;
}

a:hover {
  color: #fff;
  font-size: 1.1em;
  transition: all 500ms ease-in-out;
}

a:active {
  text-decoration: underline;
}

.page-wrapper {
  background-size: cover;
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-columns: minmax(20px, auto);
  grid-auto-rows: minmax(20px, auto);
}

.intro header {
  background: url(daylightfit.jpg) center;
  background-size: cover;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 2em;
  display: grid;
  grid-auto-rows: fit-content(100%);
}

.intro header h1 {
  font-size: 2em;
  text-align: right;
  margin: 0;
  color: #fff;
  grid-row-start: 2;
  grid-row-end: 3;
}

header h2 {
  color: #fff;
  font-size: 0.85em;
  text-align: right;
  text-shadow: 2px 2px 3px #4A7A8C;
  margin-bottom: 0;
  margin-right: 0.4rem;
  grid-row-start: 1;
  grid-row-end: 2;
}

.preamble {
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 0.75rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #ADC8D9;
  margin-top: 0.75rem;
  color: #0E4C59;
}
.preamble h3,
.preamble p {
  text-align: left;
  margin: 0.5rem;
}
.preamble h3 {
  font-size: 1.1rem;
}

.summary {
  grid-row-start: 3;
  grid-row-end: 4;
  border-radius: 10px;
  background-color: #4A7A8C;
  display: grid;
  grid-auto-rows: minmax(20px, auto);
  grid-gap: 10px;
}
.summary p:nth-child(2) {
  grid-row-start: 1;
  grid-row-end: 2;
  font-style: italic;
  font-size: 0.8rem;
  text-align: right;
  margin-top: 0;
}
.summary p:first-child {
  margin-top: -15px;
}

aside {
  grid-row-start: 2;
  grid-row-end: 3;
}
aside a {
  color: #ADC8D9;
}

/* Dropdown Menu*/
.select,
.archives,
.resources {
  text-align: center;
  background: #0E4C59;
  color: #fff;
  margin-bottom: 0;
  padding-bottom: 3px;
}

.select::before,
.archives::before,
.resources::before {
  content: url(mediumpine.jpg);
}

.design-selection,
.design-archives,
.zen-resources {
  background: #4A7A8C;
}

.design-selection nav,
.design-archives nav,
.zen-resources ul {
  display: none;
  transition: all 0.5s ease;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.design-selection li,
.design-archives li,
.zen-resources li {
  list-style-type: square;
  padding: 5px;
}

.design-selection nav ul,
.design-archives nav ul,
.zen-resources ul {
  margin-top: 3px;
  padding-bottom: 3px;
}

.select:hover,
.resources:hover,
.archives:hover {
  opacity: 0.75;
  cursor: pointer;
}

.design-selection:hover nav,
.design-archives:hover nav,
.zen-resources:hover ul {
  display: block;
  transition: all 500ms ease-in;
  z-index: 1;
}

.design-selection nav a:hover,
.design-archives nav a:hover,
.zen-resources ul li a:hover {
  color: #fff;
}

div[role=article] {
  margin: 10px 0;
  padding: 0.75rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
div[role=article] a {
  color: white;
}
div[role=article] a:hover {
  color: #0E4C59;
  font-size: 1.1em;
  transition: all 500ms ease-out;
}

.explanation {
  background-color: #ADC8D9;
  color: #0E4C59;
}

.participation {
  background-color: #4A7A8C;
  color: #ADC8D9;
}

.benefits {
  background-color: #ADC8D9;
  color: #0E4C59;
}

.requirements {
  color: #ADC8D9;
  background-color: #4A7A8C;
}

.preamble h3::before,
.participation h3::before,
.benefits h3::before,
.requirements h3::before,
.explanation h3::before {
  content: url(mediumpine.jpg);
  float: left;
}

.preamble h3,
.participation h3,
.benefits h3,
.requirements h3,
.explanation h3 {
  margin-top: 0;
}

.preamble h3::after,
.participation h3::after,
.benefits h3::after,
.requirements h3::after,
.explanation h3::after {
  display: block;
  content: "";
  height: 2px;
  background-color: #0E4C59;
}

footer {
  background-color: #ADC8D9;
  text-align: center;
}
footer ::before {
  content: url(smallpine.jpg);
}
footer a {
  color: #0E4C59;
  padding: 0.4rem;
}

/************ Large screen****************/
@media screen and (min-width: 961px) {
  /* basic elements */
  body {
    line-height: 1.5em;
    background-color: #4A7A8C;
    margin: 0;
    padding: 0;
  }

  .page-wrapper {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 25% 74% 2em;
    grid-row-gap: 10px;
  }

  h3 {
    letter-spacing: 1px;
    margin-bottom: 0;
    color: black;
  }

  .intro {
    grid-column: 1/3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 1fr 1fr;
  }

  .intro header {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 2.5em;
  }

  .intro header h1 {
    text-align: center;
    font-size: 3em;
  }

  .intro header h2 {
    text-align: center;
  }

  .summary {
    border-radius: 0;
    box-shadow: none;
  }

  .intro .summary {
    color: #4A7A8C;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-template-rows: 35% 5% 60%;
    min-width: 235px;
    padding: 0.25rem;
    margin-top: 25px;
    margin-right: 10px;
  }

  .intro .summary p:nth-child(2) {
    background-color: #ADC8D9;
    grid-row-start: 1;
    grid-row-end: 2;
    font-style: italic;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 0;
    padding: 10px;
  }

  .intro .summary p:nth-child(2)::before {
    content: url(smallpine.jpg) "Downloads";
    display: block;
    font-family: "Gabriela", serif;
    font-size: 14px;
    color: #fff;
    background: #0E4C59;
    text-align: center;
    margin-left: -10px;
    margin-top: -10px;
    width: calc(100% + 20px);
  }

  .intro .summary p:first-child {
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #ADC8D9;
    font-size: 16px;
    text-align: center;
    padding: 10px;
  }

  .intro .summary p:nth-child(1)::before {
    content: url(smallpine.jpg) "Examples";
    display: block;
    font-family: "Gabriela", serif;
    font-style: italic;
    font-size: 1.1em;
    color: #fff;
    background: #0E4C59;
    text-align: center;
    margin-top: -10px;
    margin-left: -10px;
    width: calc(100% + 20px);
  }

  .main {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  aside {
    grid-column: 2/3;
    grid-row: 2/3;
    overflow: hidden;
    padding-right: 10px;
    display: block;
    margin-left: 10px;
  }
  aside a {
    color: #4A7A8C;
  }

  .design-selection nav,
.design-archives nav,
.zen-resources ul {
    display: block;
    background-color: #ADC8D9;
    color: #4A7A8C;
  }

  .design-selection h3 {
    margin-top: 30px;
    margin-bottom: 15px;
    padding-bottom: 3px;
  }

  .design-selection nav {
    margin-top: -15px;
  }

  .design-archives h3 {
    margin-top: 30px;
    margin-bottom: 15px;
    padding-bottom: 3px;
  }

  .design-archives nav {
    margin-top: -15px;
  }

  .zen-resources h3 {
    margin-top: 35px;
    padding-bottom: 3px;
  }

  .zen-resources ul {
    margin-top: -1px;
  }

  .zen-resources::after {
    content: "";
    background-image: url(crop.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 440px;
    display: inline-grid;
  }

  .select:hover,
.resources:hover,
.archives:hover {
    opacity: 1;
    cursor: default;
  }

  .preamble h3,
.preamble p {
    text-align: left;
    margin: 0.5rem;
  }

  .participation h3,
.benefits h3,
.requirements h3 {
    margin-top: 0;
  }

  div[role=article] {
    margin-left: 10px;
    box-shadow: none;
  }

  .preamble,
.participation,
.benefits,
.requirements {
    background-color: #ADC8D9;
    color: #4A7A8C;
    margin-top: 25px;
    margin-right: 50px;
    padding: 0.25rem 0.75rem;
  }

  .explanation {
    background-color: #ADC8D9;
    color: #4A7A8C;
    margin-right: 50px;
    margin-top: 30px;
    padding: 0.75rem;
    margin-left: 10px;
  }
  .explanation h3 {
    margin-top: 0;
  }

  footer {
    margin-left: 0;
    padding: 0px 20px 0px 20px;
    width: 100vw;
    margin-top: 15px;
  }
  footer a:link,
footer a:visited {
    margin-right: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
